<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>Admin</title>
  </head>
  <body>
    <script type="module" src="https://unpkg.com/@sveltia/cms@0.129.0/dist/sveltia-cms.js"></script>
    <link rel="stylesheet" href="/admin/custom.css" />
  </body>
</html>
